
h1 {
	color: red;
}
h4{
	color: black;
}

.subscribe{
  font-family:Helvetica;
  
}
	
}
body {
  margin: 0;
/*  font-family: Arial, Helvetica, sans-serif;
  background-color: #c6b2b2;*/
}

.mainbg{
	font: bold;
	background-color: #c6b2b2;
}
.container img {vertical-align: middle;}

.container .content{
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;

  }
